@media screen and (max-width: 720px) {
    .gallery {width: 570px; height: 2000px;}
}

@media screen and (max-width: 1024px) {
    .gallery {width: 860px; height: 1500px;}
}

@media screen and (min-width: 1024px) {
    .gallery {width: 1150px; height: 1250px;}
}

@media screen and (min-width: 1270px) {
    .gallery {width: 1150px; height: 1250px;}
}