.simple .secondary-sidebar {
  background-color: #f3f3f4;
}

/* .page-container .page-content-wrapper .footer {
  position: relative !important;
} */

/* .page-container .page-content-wrapper .content {
  padding-bottom: 0px !important;
} */
